/* If the screen size is 601px wide or more; set the font-size of <div> to 80px */

.shopnowbtn {
  background-color: #e88f48;
  color: #ffffff;
  max-width: fit-content;
  font-weight: 800;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 0px;
  border: 0;
  margin-top: 10px;
}

.shopnowbtn2 {
  background-color: transparent;
  color: #666666;
  max-width: fit-content;
  font-weight: 800;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 0px;
  border: 1px solid #666666a8;
  margin-top: 10px;
}

@media screen and (min-width: 601px) {
  .category {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    right: 10%;
  }
  .uppertext {
    color: #c8a27b;
    font-weight: bold;
    font-size: 20px;
  }
  .categorytitle {
    font-size: 64px;
    color: #666666;
    font-weight: 800;
    width: 300px;
  }
  .smallfont {
    font-size: 16px;
    color: #666666;
    width: 350px;
  }
  .img2Title {
    font-size: 24px;
    font-weight: 800;
    color: #666666;
  }
  .img2Desc {
    font-size: 16px;
    color: #666666;
  }
  .img2Container {
    display: flex;
    background-color: #f4f2f0;
    justify-content: space-between;
    height: 47%;
  }
}

/* If the screen size is 600px wide or less; set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .uppertext {
    color: #c8a27b;
    font-weight: bold;
    font-size: 13px;
  }

  .category {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15%;
    right: 7%;
  }
  .categorytitle {
    font-size: 30px;
    color: #666666;
    width: 100px;
    font-weight: 800;
  }
  .smallfont {
    font-size: 10px;
    width: 180px;
    color: #666666;
  }

  .img2Title {
    font-size: 19px;
    font-weight: 800;
    color: #666666;
  }
  .img2Desc {
    font-size: 16px;
    color: #666666;
  }

  .shopnowbtn2 {
    background-color: transparent;
    color: #666666;
    max-width: fit-content;
    font-weight: 800;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 0px;
    border: 1px solid #666666a8;
    margin-top: 10px;
  }
  .img2Container {
    display: flex;
    background-color: #f4f2f0;
    justify-content: space-between;
    height: 50%;
  }
}
