@font-face {
  font-family: "Roboto Regular";
  src: url("/Fonts/Roboto-Regular.ttf");
  /* font-style: normal; */
  font-weight: 400;
  /* font-display: swap; */
}

@font-face {
  font-family: "Roboto Medium";
  src: url("/Fonts/Roboto-Medium.ttf");
  /* font-style: italic; */
  font-weight: 100;
  /* font-display: swap; */
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/Roboto-Bold.ttf");
  /* font-style: italic; */
  /* font-weight: 100; */
  /* font-display: swap; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
  /* font-family: "Open Sans", sans-serif; */
}

.modal-content {
  border-radius: 40px !important;
  padding: 10px 20px !important;
}
