.gridRow {
  display: flex;
  flex-wrap: wrap;
}

.gridColumn1 {
  flex: 75%;
  max-width: 75%;
  position: relative;
}

.gridColumn2 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


@media screen and (max-width: 800px) {
  .gridColumn1 {
    flex: 50%;
    max-width: 50%;
  }

  .gridColumn2 {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gridColumn1 {
    flex: 100%;
    max-width: 100%;
  }

  .gridColumn2 {
    flex: 100%;
    max-width: 100%;
  }
}

.ImageOverlay {
  position: absolute;
  right: 8%;
  top: 30%;
  left: 50%;
}

.image1Heading {
  font-size: 25px;
  font-weight: 400;
  color: gray;
}

.image1Title {
  font-size: 78px;
  font-weight: 700;
  color: rgb(97, 96, 96);
  line-height: 1;
}

.image1Desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  color: rgb(172, 171, 171);
}

.ImageOverlay button {
  background-color: orange !important;
  border: orange !important;
  border-radius: 0 !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-top: 30px !important;
}

@media screen and (max-width: 480px) {
  .ImageOverlay {
    position: absolute;
    right: 0;
    top: 5%;
    left: 50%;
  }

  .image1Heading {
    font-size: 15px;
    font-weight: 400;
    color: gray;
  }

  .image1Title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(97, 96, 96);
    line-height: 1;
  }

  .image1Desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgb(172, 171, 171);
  }

  .ImageOverlay button {
    background-color: orange !important;
    border: orange !important;
    border-radius: 0 !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    margin-top: 0 !important;
  }
}

.Image3Container {
  display: flex;
  height: auto;
  background-color: gray;
}
