.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.container {
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right {
  flex: 1;
}

.logoimage {
  margin: 23px 0;
}

.center {
  flex: 2;
}

.centerInner {
  border: 1px solid #c8a27b;
  height: 40px;
  border-radius: 10px;
  display: flex;
}

.centerInnerselect {
  background: #c8a27b;
  height: 40px;
  /* padding: 0px 0px 0px 10px; */
  /* width: 150px; */
  border-radius: 50px 0px 0px 50px;
  border: 0px !important;
  /* margin-bottom: 1px; */
  letter-spacing: 1px;
  font-weight: 350;
  font-size: 16px;
  color: #ffffff;
}

.centerInnerselect:focus-visible {
  text-decoration: none !important;
}

.containerInnerPrepend {
  background-color: #c8a27b;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.selectSearchProduct {
  font-size: 18px;
  color: #ffffff;
  background-color: #c8a27b;
  border: none;
}

.containerInnerPostpend {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.left {
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.containerInnerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerLeftIcon {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}

.userDropdown {
  background-color: white !important;
  border: none !important;
  color: #000000;
  padding: 0;
  text-decoration: none;
}
.searchText {
  font-size: 16px;
  color: #666666;
}

.searchText ::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  opacity: 1;
  font-size: 14px;
}
