

/* .ScrollBar{
    overflow:hidden;
    max-height: 45vh;
    overflow-y: scroll;
} */

.Header {
  position: fixed;
  top: 0;
  width: 100%;
}

.Header + .Content {
  padding-top: 102px;
}

.Content::-webkit-scrollbar {
  width: 6px;
}
 
.Content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.Content::-webkit-scrollbar-thumb {
  background-color: #666666;
  outline: 1px solid #666666;
}

.ParagraphEffect {
  background: -webkit-linear-gradient(#000, #666666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.RemoveParagraphEffect{
     background: -webkit-linear-gradient(#666666, #666666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}