.InfoContainer{
  width: 80%;
  overflow: auto;
}

.image1Heading {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.image1Title {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  line-height: 2;
}

.image1Desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  opacity: 0.9;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .InfoContainer{
    margin:20px;
    padding: 10px;
  }
  
  .image1Heading {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }

  .image1Title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    color: #ffffff;
    line-height: 30px;
  }

  .image1Desc {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
    line-height: 20px;
    margin-top: 10px;
    color: #ffffff;
  }

}

.InfoContainer button {
  background-color: orange !important;
  border: orange !important;
  border-radius: 0 !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-top: 30px !important;
}