.Container {
  background-color: #fef6ec;
  margin-top: 50px;
}

.InfoContainer{
  width: 80%;
  margin: 40px auto;
}

.image1Heading {
  font-size: 20px;
  font-weight: 400;
  color: #c8a27b;
  margin-bottom: 10px;
}

.image1Title {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 900;
  color: #666666;
  line-height: 1;
}

.image1Desc {
  font-size: 16px;
  margin: 20px 0px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  color: #666666;
  opacity: 0.9;
}

.InfoContainer button {
  background-color: #e88f48;
  color: #ffffff;
  max-width: fit-content;
  font-weight: 300;
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 0px;
  border: 0;
  margin-top: 30px !important;
}
