.title {
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #757777;
  line-height: 10px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 7px;
}

.mainTitle {
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #062a30;
  text-align: center;
  text-transform: capitalize;
  margin-top: -20px;
}
