.box {
  width: 100%;
  background: #ffffff;
}

.title {
  margin-top: 2px;
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #666666;
}

.iconWrap {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}

.productContainer {
  margin: 20px 10px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 680px) {
  .productContainer {
    max-width: min-content;
  }
}

.iconWrap {
  display: flex;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
}
