.box {
  width: 100%;
  padding: 20px 0px 0px;
  background: transparent;
}

.carouselitem {
  width: 270px !important;
}

.title {
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  background-color: transparent;
  text-align: center;
  color: #666666;
}

.iconWrap {
  display: flex;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 2%; */
}

.productContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
