.box {
  width: 100%;
  background: #ffffff;
  padding: 40px 0px;
  border: none;
}

.title {
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 20px;
  text-align: center;
  color: #666666;
}

.iconWrap {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
}
.CategoryContainer {
  width: 100%;
}
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}