.container {
  display: flex;
  flex-direction: column;
}
.iconWrap {
  width: 70px;
}

.titleWrap {
  font-weight: 700;
  font-size: 23px;
  font-family: "Roboto", sans-serif !important;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
}
.summeryWrap {
  margin-top: 5px;
  font-weight: 450;
  align-self: center;
  font-size: 13px;
  max-width: 260px;
  line-height: 18px;
  opacity: 0.9;
  text-align: center;
  color: #666666;
}
