.box {
  padding: 10px 0px 27px;
  width: 100%;
  background: rgb(226 230 227);
}
.title {
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 20px;
  margin-top: 30px;
  text-align: center;
  color: #666666;
}
.iconWrap {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
}

.productContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 100;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

