.footer {
  background-color: #333333;
}

.linkContainer {
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  padding: 35px 0;
}

.linkHeader {
  font-size: 12px;
  font-weight: 300;
  text-align: left !important;
  margin: 200px 0;
}

.linkItem {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
  text-align: left !important;
}

.infoNewsLetter {
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}

.newsLetterInfoHeader {
  font-size: 12px;
  font-weight: 300;
}

.newsLetterInfoItem {
  font-size: 14px;
  font-weight: 400;
}

.inputNewsLetter {
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  font-weight: 400;
  line-height: 0;
  margin-bottom: 5px!important;
}  

.inputNewsLetterInput {
  padding: 0 10px;
  font-size: 16px;
  margin: 0;
}

.newsletterFlag {
  height: 40px;
  width: auto;
}
.divIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divIconCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 154, 154);
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
}
