/* If the screen size is 601px wide or more; set the font-size of <div> to 80px */

.shopnowbtn {
  background-color: #e88f48;
  color: #ffffff;
  max-width: fit-content;
  font-weight: 300;
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 0px;
  border: 0;
  margin-top: 20px;
}

.shopnowbtn2 {
  background-color: transparent;
  color: #666666;
  max-width: fit-content;
  font-weight: 600;
  font-size: 17px;
  padding: 4px 15px;
  border-radius: 0px;
  border: 2px solid #c2c0c0a8;
  margin-top: 20px;
}

@media screen and (min-width: 601px) {
  .category {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 38%;
    right: 13%;
  }
  .uppertext {
    color: #666666;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .categorytitle {
    font-size: 64px;
    color: #666666;
    font-weight: 700;
    width: 300px;
    line-height: 1;
  }
  .smallfont {
    font-size: 16px;
    color: #908b8b;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
    width: 400px;
  }
  .img2Title {
    font-size: 24px;
    /* font-weight: 500; */
    color: #546122;
  }
  .img3Title {
    font-size: 24px;
    font-weight: 600;
    color: #666666;
  }
  .img2Desc {
    font-size: 14px;
    color: #7e7e7e;
    margin-top: 10px;
  }
  .img2Container {
    display: flex;
    background-color: #d1cecd;
    justify-content: space-between;
    height: 46%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  .mobileWrap {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1000px) {
  .imageWidth {
    flex-wrap: wrap;
    width: 30%;
  }
}
/* If the screen size is 600px wide or less; set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .mobileWrap {
    flex-wrap: wrap;
  }

  .uppertext {
    color: #666666;
    font-weight: 400;
    font-size: 13px;
  }

  .shopnowbtn {
    background-color: #e88f48;
    color: #ffffff;
    max-width: fit-content;
    font-weight: 300;
    font-size: 10px;
    padding: 5px 20px;
    border-radius: 0px;
    border: 0;
    margin-top: 12px;
  }

  .category {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15%;
    right: 7%;
  }
  .categorytitle {
    font-size: 30px;
    color: #666666;
    width: 100px;
    line-height: 1;
    font-weight: 700;
  }
  .smallfont {
    font-size: 10px;
    text-align: justify;
    width: 200px;
    color: #908b8b;
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  .img2Title {
    font-size: 19px;
    
    color: #546122;
  }

  .img3Title {
    font-size: 19px;
    font-weight: 600;
    color: #666666;
  }
  .img2Desc {
    font-size: 16px;
    color: #666666;
  }

  .shopnowbtn2 {
    background-color: transparent;
    color: #666666;
    max-width: fit-content;
    font-weight: 800;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 0px;
    border: 1px solid #666666a8;
    margin-top: 10px;
  }
  .img2Container {
    display: flex;
    background-color: #d1cecd;
    justify-content: space-between;
    height: 46%;
  }
}
