.containter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.child1 {
  width: 25%;
  color: white;
}
.mainCategory {
  display: flex;
  flex-direction: row;
}
.category {
  background: rgb(244 242 240);
  display: flex;
  letter-spacing: 1.5px;
  margin-right: 50px;
  padding: 5px 15px 5px 32px;
  margin-bottom: 3px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #908b8b;
}
.normalCategory {
  margin-bottom: 2px;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 24px;
  background: #f4f2f0;
  color: #c8a27b;
}

.child2 {
  position: relative;
  width: 75%;
  background-color: #fdf6ec;
}

@media only screen and (max-width: 1200px) {
  .child2 {
    width: 100%;
  }
}
