/* Slideshow container */
.slideshow_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.InfoContainer {
  margin-left: 10%;
}

.InfoTitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 450;
  color: #666666;
  line-height: 1;
}

.InfoHeading {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 650;
  color: #666666;
  line-height: 1;
}

.fade {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  height: 95%;
  width: 100%;
}

.InfoDescription {
  font-size: 14px;
  font-weight: 450;
  color: #7a7070;
  line-height: 1;
  opacity: 0.9;
}

.fade {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  height: 95%;
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 900px) and (min-width: 601px) {
  .InfoTitle {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 450;
    color: #666666;
    line-height: 1;
  }

  .InfoHeading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 650;
    color: #666666;
    line-height: 1;
  }

.InfoDescription {
  font-size: 15px;
  font-weight: 450;
  color: #908b8b;
  line-height: 1;
  opacity: 0.9;
}
}
@media only screen and (max-width: 600px) {
  .InfoTitle {
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 450;
   color: #666666;
   line-height: 1;
 }
 
 .InfoHeading {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 650;
   color: #666666;
   line-height: 1;
 }
 
 .InfoDescription {
   font-size: 12px;
   font-weight: 450;
   color: #908b8b;
   line-height: 1;
   opacity: 0.9;
 }
 
}
