.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 13%;
  height: 40px;
  background-color: #c4c4c4;
}
.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.wrapperlinks {
  font-size: 16px;
  color: #062A30;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .wrapper {
    padding: 0px 180px;
  }
}

@media screen and (max-width: 620px) {
  .wrapperlinks {
    font-size: 12px;
  }

  .container {
    padding: 0 10%;
  }
}
