.InfoContainer {
  width: 80%;
}

.image1Heading {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

.image1Title {
  font-size: 64px;
  font-weight: 700;
  color: #666666;
  line-height: 0.7;
  text-transform: capitalize;
}

.image1Desc {
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  text-align: justify;
  line-height: 1.4;
  color: #908b8b;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .InfoContainer {
    margin: 20px;
    padding: 10px;
  }

  .image1Heading {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
  }

  .image1Title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    color: #666666;
    line-height: 35px;
  }

  .image1Desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    width: 100%;
    text-align: justify;
    color: #666666;
  }
}

.InfoContainer button {
  background-color: #e88f48;
  color: #ffffff;
  max-width: fit-content;
  font-weight: 300;
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 0px;
  border: 0;
  margin-top: 30px !important;
}

.shopnowbtn {
  background-color: #e88f48;
  color: #ffffff;
  max-width: fit-content;
  font-weight: lighter;
  font-size: 12px;
  padding: 7px 30px;
  border-radius: 0px;
  border: 0;
  margin-top: 20px;
}
