.imageContainer {
  height: 140;
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  height: 40px;
  font-family: "Roboto", sans-serif !important;
  color: #2c2c2c;
  margin-bottom: 3%;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto", sans-serif !important;
  color: #454545;
  margin-bottom: 3%;
}

.summery {
  font-family: "Roboto", sans-serif !important;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #88939b;
  overflow: hidden;
}

.vendor {
  font-family: "Roboto", sans-serif !important;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #a0a0a0;
  overflow: hidden;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px 15px;
  background-color: white;

  justify-content: flex-start;
}
