.container {
  background-color: #f3f4f1;
}
.gridRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gridColumn1 {
  flex: 100%;
  max-width: 100%;
  position: relative;
}

.ImageOverlay {
  position: absolute;
  right: 8%;
  top: 20%;
  left: 50%;
}

.image1Heading {
  font-size: 55px;
  font-weight: 400;
  color: gray;
}

.image1Title {
  font-size: 110px;
  font-weight: 700;
  color: rgb(97, 96, 96);
  line-height: 1;
}

.image1Desc {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: rgb(172, 171, 171);
}

.ImageOverlay button {
  background-color: orange !important;
  border: orange !important;
  border-radius: 0 !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-top: 30px !important;
}

@media screen and (max-width: 480px) {
  .ImageOverlay {
    position: absolute;
    right: 0;
    top: 20%;
    left: 50%;
  }

  .image1Heading {
    font-size: 12px;
    font-weight: 400;
    color: gray;
  }

  .image1Title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(97, 96, 96);
    line-height: 1;
  }

  .image1Desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgb(172, 171, 171);
  }

  .ImageOverlay button {
    background-color: orange !important;
    border: orange !important;
    border-radius: 0 !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    margin-top: 0 !important;
  }
}

.Image3Container {
  display: flex;
  height: auto;
  background-color: gray;
}
