.supplyChain {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.supplyChainHeader{
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
     margin-bottom: 20px;
}

.supplyChainInfo{
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
}

@media screen and (max-width: 420px) {
  .supplyChainHeader{
    font-size: 30px !important;
  }

  .supplyChainInfo{
    font-size: 12px !important;
  }
}